{% extends "veraPage/base_toda_pagina.html" %}

{% block title %}
Tareas de Vera
{% endblock %}

{% block cabeceraDerecha %}
<a href="https://www.edu.xunta.gal/centros/ceipxunqueira2/aulavirtual2/course/view.php?id=14" target="_blank">Curso de Vera</a>
{% endblock %}

{% block bloqueCentral %}
<div class="row px-1">
{% for asignatura, items in asignaturas.items %}

    <div class="col etiqueta badge badge-{% cycle 'primary' 'secondary' %}">{{ asignatura }}

    
        <ul class="list-group">
        {% for item, subs in items.items %}
            <li class="list-group-item list-group-item-success">{{ item }}
            {% for sub in subs %}
                <br>
                {% if sub.1 %}
                    <span class="badge badge-info">{{ sub.0 }} - {{ sub.1 }}</span>
                {% else %}
                    <span class="badge badge-danger">{{ sub.0 }}</span>
                {% endif %}
            {% endfor %}
            </li>
        {% endfor %} 
        </ul>
    </div>



{% endfor %}
</div>
{% endblock %}