{% extends "chat/base_tres_partes.html" %}
{% load static %}
{% block head %}

<script type=text/javascript src="{% static 'chat/js/room.js' %}"></script>

{% endblock %}

{% block navegacion %}
<div class="p-6 mb-2 bg-secondary text-white etiqueta-mini">&nbsp;Canales activos:</div><ul id="listaCanales"></ul>
{% endblock %}

{% block creacion %}
<button type="button" class="btn btn-success float-none etiqueta-mini" data-toggle="modal" data-target="#exampleModal">Unete a un canal</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">a donde quieres ir?</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header"><h6 class="modal-title" id="exampleModalLabel2">(De 4 a 25 caracteres alfanumericos)</h6></div>
            
            <div class="modal-body">
                <form class="needs-validation" novalidate>    
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Canal:</label>
                    <input type="text" class="form-control" id="message-text" pattern="[A-Za-z0-9]{4,25}" required title="Solo letras y numeros"></input>
                    <p id="mensajeInvalido"></p>
                </div>
                </form>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary"  id="btnFormOpinion" onclick="cambiarChat();">Ir</button>
            </div>
        
        </div>
    </div>
  </div>                       
{% endblock creacion %}

{% block listado %}
<div class="p-6 mb-2 bg-secondary text-white etiqueta-mini" id="infoChat" data-canal="chat_{{ room_name }}" data-user="{{ user.get_username }}">&nbsp;Usuarios en el canal:</div><ul id="listaUsuarios"></ul>
{% endblock listado %}

{% block bloqueCentral %}
<h1><span class="badge badge-success etiqueta-mini d-none d-sm-none d-md-inline-block">{{ room_name|capfirst }}</span></h1>
<div id="container">
    <textarea id="chat-log" class="form-control" readonly></textarea>
    <div id="usuario" data-user="{{ user.get_username }}" data-canal="Chat principal"></div>
    <br>
    <div>
        
        <input id="chat-message-input" name="inputMensaje" class="inputChat form-control text-black" placeholder="Enviar mensaje" size="100">
        <br>
        <button type="submit" class="btn btn-success etiqueta-mini"  id="chat-message-submit">Enviar</button>
        <!--<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send</button>-->
    </div>  
</div> 
{{ room_name|json_script:"room-name" }}
{% endblock %}
