@media print{
    .screen-only {
        display: none;
    }
}
@media (min-width: 800px) {
    body {
        background-color: rgb(208, 245, 190);
        /*background: linear-gradient(to right, #499496, #a7d6d2);*/
    }
}
@media (max-width: 799px) {
    body {
        background-color: rgb(231, 250, 223);
    }
}

@keyframes flasheando {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
        visibility: hidden;
    }
    90% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

.contenedor-total {
    background-color: rgb(176, 211, 195);
    /*background: linear-gradient(to right, #499496, #a7d6d2);*/
}

input:invalid {
    border-color: red;
}

.inputChat {
    background-color: #dce7e3;
    /*background: linear-gradient(to right, #2c7873, #004445);*/
    /*color: whitesmoke;*/
    color: #000000;
    border-color: #dce7e3;
    
}
#chat-message-input:focus {
    border-color: #c5f3e1;
    box-shadow: 0 0 0 0.2rem rgba(130, 182, 133, 0.25);
}
#chat-log {
    /*background-color: #bad4ca;*/
    background-color: #dce7e3;
    border-radius: 30px 30px 14px 14px;
    -moz-border-radius: 30px 30px 14px 14px;
    -webkit-border-radius: 30px 30px 14px 14px;
    border: 0px outset #000000;
    box-shadow: 0 0 0 0.2rem rgba(130, 182, 133, 0.25);
    color: black;
    animation-name: flasheando;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
h1, h3{
    color: #6fb98f;
    text-align: center;
}
