@media print{
    .screen-only {
        display: none;
    }
}
@media (min-width: 600px) {
    body {
        background-color: rgb(237, 245, 233);
        /*background: linear-gradient(to right, #499496, #a7d6d2);*/
    
    }
    #chat-log{
        min-height: 60vh;
    }
}
@media (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape){
    body {
        background-color: rgb(239, 248, 236);
    }
    #chat-log{
        min-height: 65vh;
    }
}

@keyframes flasheando {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
        visibility: hidden;
    }
    90% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

.contenedor-total {
    background-color: rgb(202, 212, 208);
    /*background: linear-gradient(to right, #499496, #a7d6d2);*/
}

input:invalid {
    border-color: red;
}

.inputChat {
    background-color: #dce7e3;
    /*background: linear-gradient(to right, #2c7873, #004445);*/
    /*color: whitesmoke;*/
    color: #000000;
    border-color: #dce7e3;    
}

#chat-message-input:focus {
    border-color: #c5f3e1;
    box-shadow: 0 0 0 0.2rem rgba(130, 182, 133, 0.25);
}
#chat-log {
    /*background-color: #bad4ca;*/
    /*background-color: #dce7e3;*/
    background-color: rgb(221, 224, 223);
    border-radius: 30px 30px 14px 14px;
    -moz-border-radius: 30px 30px 14px 14px;
    -webkit-border-radius: 30px 30px 14px 14px;
    /*border: 0px outset #000000;*/
    -webkit-box-shadow: 0px 3px 5px 5px rgba(130, 182, 133, 0.5);
    -moz-box-shadow: 0px 3px 5px 5px rgba(130, 182, 133, 0.5);
    box-shadow: 0px 3px 5px 5px rgba(130, 182, 133, 0.5);
    color: black;
    animation-name: flasheando;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.etiqueta-mini {
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(94,98,117,1);
    -moz-box-shadow: 0px 1px 2px 2px rgba(94,98,117,1);
    box-shadow: 0px 1px 2px 2px rgba(94,98,117,1);
    /*-webkit-box-shadow: 0px 0px 12px 4px #000000; */
    /*box-shadow: 0px 0px 12px 4px #000000;*/
}

#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
h1, h3{
    color: #6fb98f;
    text-align: center;
}
.access_aid {
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;
}
#access_nav {
    
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}

#access_top {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}
