{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title %}Hogar Quintillan{% endblock %}</title>
        <link href="{% static 'css/login_style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <script type=text/javascript src="{% static 'js/basic.js' %}"></script>

        <!-- BOOTSTRAP-->
        {# Cargamos la librería #}
	    {% load bootstrap4 %}
 
	    {# CSS Bootstrap #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    <!-- /BOOTSTRAP-->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <button  id="myBtnTopR" class="myBtnTop" title="Go to top">Top</button>
        <button  id="myBtnTopL" class="myBtnTop" title="Go to top">Top</button>
        {% if user and user.is_authenticated and topHeader %}
            {% include 'navbars.html'%}
        {% endif %}
        <div id="wrapper" class="container-fluid">
            {% block header %}
                <header id="header" class="row">
                
                    <div id="top_menu" class="col-6">

                    </div>
                    <div id="logo" class="col text-right">
                        {% block cabeceraDerecha %}
                        {% endblock %}
                    </div>
                   
                </header>
            {% endblock %}
            <div class="row mt-3">

                

                    {% block bloqueCentral %}
                    {% endblock %}
            </div>
            <footer id="footer" class="sticky-bottom">
                Copyright &copy;
                
                <script type="text/JavaScript">
                    document.write(new Date().getFullYear());                    
                </script> Quintillan's
                <div><a href="{% url "calendarioGlobal" %}"><strong>{% now "d-m-y" %}</strong></a></div>
                {% block footer%}
                {% endblock %}
            </footer>

        </div>
        
    </body>
</html>