{% extends 'recetas/base_toda_pagina.html' %}
{% block header %}
{% endblock %}
{% block bloqueCentral %}

    <!--<div class="card card-signin my-5 mb-3 offset-md-2 offset-xl-3">-->
    <!--<div class="card card-signin my-auto mx-auto">-->
    <!--<div class="card-body etiqueta">-->
    <div class="my-auto mx-auto p-2">
    <form method="post">
        {% csrf_token %}
            <div class="col">
            {{ form.as_p}}

            <a href="{% url 'recetas:crear_ingrediente' %}" target="_blank">Crea ingrediente</a>
    
        <div class="text-center">
            <button class="btn mx-auto btn-success" type="submit">Enviar</button>
        </div>
    </div>
    </form>
</div>
  
{% endblock %}