{% extends "recetas/base_toda_pagina.html" %}
{% load static %}

{% block title %}
Recetitas
{% endblock %}

{% block head %}

{% endblock %}

{% block topLinks %}
    <a href="{% url 'recetas:crear' %}" class= "btn btn-primary text-white">Nueva receta</a>
{% endblock %}

{% block bloqueCentral %}
<div class="card-deck mx-0">
{% for categoria in categorias.all %}
  <div class="card">
    <img class="card-img-top" src="{% static 'recetas/img/categoria_'|add:categoria.nombre|add:'_top.jpg' %}" alt="{{ categoria }}">
    <div class="card-body">
      <h5 class="card-title">{{ categoria.nombre|capfirst }}</h5>
      <p class="card-text">{{ categoria.descripcion }}</p>
      <a href="{% url 'recetas:categoria' categoria.nombre %}" class="btn btn-primary stretched-link">Ver mas</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Actualizado hace {% cycle '5' '12' '3' '22' %} minutos</small>
    </div>
  </div>
{% endfor %}
</div>
    
  
    
{% endblock %}