@charset "utf-8";
@media screen and (min-width: 1000px) {
    div.ancho-minimo{
        min-width: 20vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 999px) {
    div.ancho-minimo {
        min-width: 30vw;
    }
}
@media screen and (max-width: 799px) {
    div.ancho-minimo {
        min-width: 40vw;
    }
}
#header {
    border-style: none;
    /*width: 800px;*/
    height: auto;
}
#wrapper {
    margin-top: 10px;
    /*margin-left: auto;*/ /*cambiado pargin por padding*/
    padding-left: 10px;
    /*margin-right: auto;*/ /*cambiado pargin por padding*/
    padding-right: 10px;
    background-color: #FFFFFF;
    min-height: 70vh;
}
body {
    /*background-color: lightgray;*/
    /*background: linear-gradient(to right, rgb(153, 209, 241), rgb(127, 133, 145));*/
    background-color: #e0e0e0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
h1 {
    color: #270c39;
}
#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #e0e0e0;
    color: #1e9d36;
    left: 0px;
    list-style-position: inside;
}
#nav li a {
    text-decoration: none;
}

#main {
    /*width: 560px;*/
    min-width: 50vw;
    float: left;
    /*margin: 0 10px 50px 20px;	*/
    padding-right: 10px;
}
#logo {
    padding: 10px;
    float: left;
}
#top_menu {
    float: right;
    padding: 50px 20px 0px 0px;
    font-size: 1.2em;
    color: #270c39;
}
#top_menu a {
    color: green;
}
section.leftSide{
    background-color: rgb(77, 136, 151); /*(153, 209, 241)*/
    min-height: 70vh;
}
section.rightSide{
    /*background-color: rgb(72, 146, 128);*/ /*(127, 133, 145)*/
    /*background-color: rgb(75, 95, 134);*/
    background-color: rgb(72, 146, 128);
    min-height: 70vh;
}

table.tablaCalendario a{
    z-index: 99;
}
h1.cabecera{
    color: red;
}
table.month td {
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    text-align: center;
}
table.month th {
    padding: 2px 0px;
    text-align: center;
}
th.month {
     display: none;
     }
div a {
    color: rgb(110, 150, 140);
}

.etiqueta {
    box-sizing: border-box;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-box-shadow: 0px 2px 5px 5px rgba(94,98,117,1);
    -moz-box-shadow: 0px 2px 5px 5px rgba(94,98,117,1);
    box-shadow: 0px 2px 5px 5px rgba(94,98,117,1);
    /*-webkit-box-shadow: 0px 0px 12px 4px #000000; */
    /*box-shadow: 0px 0px 12px 4px #000000;*/
}

.etiqueta-texto{
    box-sizing: border-box;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    border: 1px solid;
}

.carousel-control-prev {
    position: relative;
    margin-left: -100px;
    color: black;
}

div.limitar-ancho{
    width: 25rem;
}